* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

 body {
    font-family: "Onest", sans-serif;
    color: #333;
    background-color: #fafafa;
} 

.container {
    max-width: 100%;
    width: 100%;
    /* margin: auto; */
}

.maincont {
    display: flex;
    justify-content: center;
}

.maintitle {
    width: 90%;
    color: #8d46f6;
    background-color: #8d46f6;
    text-align: center;
    vertical-align: middle;
}

.maintext {
    margin-bottom: 0px!important;
}

/* .header {
    gap: 1vw;
    margin: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    position: relative;
    z-index: 1000;
} */

.logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}

.navigation a:hover {
    color: #8d46f6;
}

.hero {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('https://via.placeholder.com/1920x1080');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: transform .3s ease-in-out;
}

.btn-primary {
    background-color: #8d46f6;
    color: white;
    border: none;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.inbe {
    margin-top: 15px;
}

.btn-outline {
    background-color: transparent;
    color: #8d46f6;
    border: 2px solid #8d46f6;
    transition: all .3s;
}

.btn-outline:hover {
    background-color: #8d46f6;
    color: white;
}

.about-us,
.services {
    padding: 60px 0;
    text-align: center;
}

.service-blocks {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(2, 25%);
    margin-top: 30px;
}

.greencolor {
    color: rgb(87, 217, 0);
}

.orangecolor {
    color: rgb(255, 123, 0);
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: transform .3s ease-in-out;
}

.block h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.block p {
    line-height: 1.6;
    opacity: .8;
}

.block:hover {
    transform: translateY(-10px);
}

.rights {
    color: white;
}

.footer {
    background-color: #8d46f6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .navigation ul {
        flex-wrap: wrap;
    }
    .navigation li {
        margin-left: 10px;
    }
    .service-blocks {
        grid-template-columns: 1fr;
    }
}